{:paths ["src"]
 :deps  {

         ;; https://github.com/clojure/clojure
         org.clojure/clojure {:mvn/version "1.11.1"}

         ;; https://github.com/clojure/clojurescript
         org.clojure/clojurescript {:mvn/version "1.11.60"}

         ;; io.github.kunagi/kunagi-build {:git/sha "79bf7fc4e252d62cdbe013471103c4a73f3320dd"}
         ;; io.github.kunagi/kunagi-build {:local/root "../kunagi-build"}
         ;;

         ;; https://github.com/funcool/promesa
         funcool/promesa {:mvn/version "11.0.678"}

         ;; https://github.com/clj-commons/ordered
         org.flatland/ordered {:mvn/version "1.15.11"}

         ;;
         }

 :aliases
 {;; Run with clj -T:build <function-in-build>
  :build {:paths ["src"]
          :deps {;;
                 ;; io.github.kunagi/kunagi-build {:git/sha "79bf7fc4e252d62cdbe013471103c4a73f3320dd"}
                 io.github.kunagi/kunagi-build {:local/root "/p/kunagi-build"}
                 ;; io.github.clojure/tools.build {:git/tag "v0.8.1" :git/sha "7d40500"}
                 ;;
                 }
          :ns-default build}

  :test {:extra-deps {
                      ;; https://github.com/lambdaisland/kaocha
                      lambdaisland/kaocha {:mvn/version "1.87.1366"}
                      }
         :main-opts ["-m" "kaocha.runner"]}

  :shadow-cljs
  {:extra-deps  {thheller/shadow-cljs {:mvn/version "2.26.7"}
                 binaryage/devtools   {:mvn/version "RELEASE"}
                 cider/cider-nrepl    {:mvn/version "RELEASE"}
                 refactor-nrepl/refactor-nrepl {:mvn/version "RELEASE"}}
   :main-opts   ["-m" "shadow.cljs.devtools.cli"]}

  ;;
  }}
